* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: orange;

}

.logo{
    position: fixed;
    margin-left: 68px;
    margin-top: 20px;
    z-index: 10;
}

main{
    padding-top: 200px;
}


.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-top: 300px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}





img{
    display:block;
    max-width:100%;
    height:auto;

}
a {
    color:rgb(101, 115, 172);
    text-decoration: none;
}

.video-frame{
    width: 100%;
}

.gridText{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
}


.gridImg{
    width: 100%;
}











